#logo {
    font-family: 'New Tegomin', serif;

}

.textonimage {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: white;
    font-size: 5vw;


}

.textonimagelogo{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}
.item h3 {

    font-size: 3vw;
}

#toprow{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffa216;
    /*padding-left: 80px;*/
}

#bottomtow {
    padding-bottom: 20px;
    background-color: #ffa216;
    /*padding-left: 80px;*/
}


#icon{
    padding-bottom: 20px;
    background-color: #0b1518;
    color:white;

}

#phone {
    background-color: #ffa216;
    border-style: solid;
    color: white;
}
